canvas{
	border: 4px solid black;
	background-color: blue;
}

input[type=text]{
	background-color: lightgray;
	border: 1px solid black;
}

label{
	padding: 2px;
	color: red;
	font-weight: bold;
}

#feedback{
	font-size: 20px;
	font-weight: bold;
}